<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        <h1 style="color: white; text-align: center;padding-top: 50px; font-size: 37px;">StudyMate</h1>
       <div class="btn" style="padding-left: 1100px; padding-top: 400px;">
        <a href="/speak"><button class="left" style="width: 100px; height: 35px;">Ask Anything</button></a>
        <button class="right" style="width: 50px; height: 35px;">Exit</button>
       </div>
    </div>
</body>
</html>