<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/registration.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/done" method="post">
            <p class="register" style="color: blue; font-size: 30px;">Register Form</p>
            <p class="message">Signup now and get full access to our app. </p>
                <div class="flex">
                <label>
                    <input required="" placeholder="" type="text" class="input" name="fnm">
                    <span>Firstname</span>
                </label>
        
                <label>
                    <input required="" placeholder="" type="text" class="input" name="lnm">
                    <span>Lastname</span>
                </label>
            </div>  
                    
            <label>
                <input required="" placeholder="" type="email" class="input" name="email">
                <span>Email</span>
            </label> 
                
            <label>
                <input required="" placeholder="" type="password" class="input" name="pswd">
                <span>Password</span>
            </label>
            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Confirm password</span>
            </label>
            <button class="submit">Submit</button>
            <p class="signin">Already have an acount ? <a href="/">Signin</a> </p>
        </form>
    
    </div>
   </body>
</html>